@import './reset', './rrss';

* {
    margin: 0;
    box-sizing: border-box;
}

body, button {
    font-family: 'Titilium Web', sans-serif;

    //Tamaño de elementos para utilizar EMs posteriormente
    font-size: 16px;
    line-height: 1.25em;
}

.container {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: 0 auto;
}

//Cuerpo importante del desarrollo
.main {
    width: 100%;
    height: auto;

    .content {
        position: relative;
        top: 0px;
        left: 0px;
        
        padding: 0px 0px 8px 0px;

        width: 100%;
        height: 100%;

        display: none;

        //Estado activo
        &.active {
            display: block;
        }
    }

    .content::-webkit-scrollbar {
        width: 8px;
    }
    
    .content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    
    .content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

//Contenedores genéricos > En su interior, elementos propios de cada contenedor
.b-chart {
    .chart {
        .b-study{
            &:not(:last-of-type) {
                margin-bottom: 12px;
            }            
            &__title {
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 6px;
            }
            &__table {
                background-color: #fffaf0;
                padding: 4px;
                margin-bottom: 6px;

                //Disposición de elementos
                .table--two-columns {
                    display: flex;
                    margin-bottom: 6px;
                    div {
                        width: 50%;
                    }                    
                }
                .table--one-column {
                    width: 100%;
                    &:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }

                //Elementos
                .table--column {
                    &__title {
                        font-size: 1em;
                        font-weight: 700;
                    }
                    &__text {
                        font-size: 0.9em;
                        overflow: hidden;
                    }
                }
            }
            &__viz {
                width: 100%;
                height: 175px;

                & .tick text {
                    font-family: 'Titillium Web';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 10px;
                
                    color: #A3A3A3;
                }
                
                & .tick line {
                    stroke: #c3c3c3;
                    stroke-width: 0.75px;
                }
                
                & .line-special {
                    stroke: #000 !important;
                    stroke-width: 0.75px !important;
                }
            }
    
            &:first-of-type {
                margin-top: 12px;
            }
        }

        //Pie
        &__footer {
            font-size: 0.85em;

            .chart__source {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                &--data, &--copyright {
                    margin-top: 8px;
                }

                &--data {
                    margin-right: 16px;
                }

                &--data span {
                    font-weight: 700;
                }
            }

            .chart__note {
                font-style: italic;

                margin-top: 4px;
            }
        }
    }    

    //Logo > Dentro del bloque b-chart
    .logo {
        position: absolute;
        top: 8px;
        right: 0px;

        width: 76px;
        height: 46px;
    }
}

.b-notes, .b-data, .b-iframes {
    overflow-y: auto;
}

//Elementos genéricos en contenedores
.b-title {
    width: 100%;
    max-width: calc(100% - 90px);
    min-height: 46px;
    margin-bottom: 16px;

    .b-chart & {
        margin-bottom: 0px;
    }

    .title {
        font-size: 1.25em;
        font-weight: 700;
    }
    
    .subtitle {
        font-size: 1em;
        font-weight: 400;
    
        margin-top: 6px;
    }
}

.text {
    &__header {
        font-size: 1em;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__subheader {
        
    }
    &__paragraph {
        font-size: 0.9em;
        line-height: 1.25em;
        font-weight: 400;
        margin-bottom: 8px;

        & + .text__header {
            margin-top: 24px;
        }
    }

    &__iframe {
        width: 100%;
        height: 120px;

        & + .text__header {
            margin-top: 24px;
        }
    }
}

.link {
    border-bottom: 2px solid #4E7E7E;
    color: #000;
    text-decoration: none;
}

.btn_share {
    background-color: #e1e1e1;
    border: 2px solid #4E7E7E;
    padding: 0px 8px;
    border-radius: 3px;

    cursor: pointer;
    
    font-size: 0.9rem;
}

.rrss {
    width: 50%;
    margin: 16px auto 0px auto;

    display: flex;
    justify-content: space-between;

}

//Pestañas inferiores
.tabs {
    width: 100%;
    height: 32px;

    .l-tabs {
        width: 100%;
        height: 100%;

        display: flex;
        
        .tab {
            width: 100%;
            box-sizing: border-box;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;      
            border-right: 1px solid #e1e1e1;

            //Especial redes sociales
            &--rrss {
                width: 36px !important;
                flex-shrink: 0;
            }

            &:first-child {
                border-left: 1px solid #e1e1e1;
            }

            font-size: .85em;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            //Estilo
            background-color: #fafbfd;
            color: #000;

            //Estado active
            &.active {
                background-color: #fff;
                color: #000;

                border-top: 0px;
                border-bottom: 2px solid #4E7E7E;
            }
        }        
    }
}

//Tooltip
.chart__tooltip {
    position: absolute;
    opacity: 0;   

    width: auto;
    max-width: 180px;
    height: auto;
    padding: 8px;
    background-color: #F4F4F4;

    &--title {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.1;
        color: #000;
    }

    &--text {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 1.1;
        color: #000;

        margin-top: 4px;
    }
}

@media screen and (max-width: 575px) {
    body {
        font-size: 15.25px;
    }

    .b-chart {
        .chart {
            &__options {
                justify-content: center;
            }
        }
    }

    .b-title {
        width: 100%;
        max-width: none;
    
        .title {
            max-width: calc(100% - 90px);
        }
        
        .subtitle {
            //El ancho dependerá de la longitud del título > Para que no se pegue con el logo
            //max-width: calc(100% - 100px);
            width: 100%;
        }
    }

    .b-rrss {
        width: 80%;
    }
}

@media screen and (max-width: 475px) {
    body {
        font-size: 14.5px;
    }

    .b-chart {
        .chart {
            .b-study {
                &__table {
                    .table--two-columns {
                        display: block;
                        margin-bottom: 0px;
                        div {
                            width: 100%;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .b-chart {
        .chart {
            &__viz {
                display: block;

                & div {
                    width: 100%;
                    height: 170px;

                    .chart {
                        height: 146px;
                    }
                }
            }
        }
    }
}